.body_2{
    display: flex;
    background-color:lightpink;
    width: 80%;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px 0px;
}

.body_2 img {
    width: 186px;
    height: 300px;
    object-fit: cover;
}
@media (max-width: 840px){
    .body_2{
        justify-content: space-between;
    }
}
@media (max-width: 480px){
    .body_2 img{
        flex-basis: calc(40% - 0px);
    }
}